@page
@model NationalDrivingLicense.Pages.AdminModel
@{
}

<form method="post">
    <table>
        <tr>
            <td><input class="btn btn-outline-primary" type="submit" value="Create Credential Issuer" asp-page-handler="Submit" /></td>
        </tr>
    </table>
    <hr />
</form>

 <div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <p>When the callback is created, add this to the OIDC callback</p>
        </div>
        <div class="col-sm">
            <div>
                <img src="~/ndl_car_01.png" width="200" alt="Driver License">
                <div>
                    <b>Driver Licence Callback Credentials</b>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">Callback</dt>
                        <dd class="col-sm-8">
                            @Model.Callback
                        </dd>                          
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>


