@page
@model IndexModel
@{
    ViewData["Title"] = "National Driving Licenses";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    Get driving license credentials and add to wallet.
</div>

<div class="text-center">
    <img src="~/ndl_car_01.png" />
</div>

