@page
@model NationalDrivingLicense.Pages.ViewLastCredentialsInfoModel
@{
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <img src="~/ndl_car_01.png" width="200" alt="Driver License">
                <div>
                    <b>Latest Drivers License Credential Issuer</b>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">Template</dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.LatestDriverLicenseTemplate)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-4">DID ID</dt>
                        <dd class="col-sm-8">
                            @Model.LatestDriverLicenseDid
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-4">Callback</dt>
                        <dd class="col-sm-8">
                            @Model.LatestDriverLicenseCallback
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>