@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/ndl_insurance_01.png" />
        </div>
        <div class="col-sm-8">
            <div class="text-center">
                <br />
                <h4>Premium Discount Car Insurance</h4>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium Discount Car Insurance Package</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>30% off</li>
                <li>No fee for monthly payment</li>
                <li>And more</li>
            </ul>
            <a asp-page="SignUp" class="btn btn-lg btn-block btn-outline-primary">Create new insurance</a>
        </div>
    </div>
</div>
